/* md: >= 768px */
@media (min-width: 768px) {
  .md-w-dropdown-menu {
    width: var(--viewport-width);
  }
  
  .md\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  .md\:space-y-0 > :not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
  } 
  .md\:space-x-4 > :not(:last-child) {
    margin-right: 1rem;
  }
  .md\:h-32 {
    height: 8rem;
  }
  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .grid-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .hero-image {
    width: 60% !important;
  }

  .md\:basis-1\/2 {
    flex-basis: 50%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:f-row {
    flex-direction: row !important;
  }

  .md\:w-6\/12 {
    width: 50%;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .grid-cols-footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}